:root{ --background: #E9F2F6; --dominant-color: #277DA1; --primary-color: #90BE6D; --secondary-color: #EB9C49; --success-color: #27D182; --danger-color: #D32535; --warning-color: #F8BA00; --info-color: #0DC6EB; --background-text: #000000; --dominant-text: #FFFFFF; --primary-text: #000000; --secondary-text: #000000; --success-text: #000000; --danger-text: #FFFFFF; --warning-text: #000000; --info-text: #000000;}

.cid-u76JOH9lWc  {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-u76JOH9lWc  .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-u76JOH9lWc  .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-u76JOH9lWc  .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u76JOH9lWc  .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-u76JOH9lWc  .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u76JOH9lWc  .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u76JOH9lWc  .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-u76JOH9lWc  .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-u76JOH9lWc  .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-u76JOH9lWc  .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-u76JOH9lWc  .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-u76JOH9lWc  .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-u76JOH9lWc  .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-u76JOH9lWc  .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-u76JOH9lWc  .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-u76JOH9lWc  .nav-link {
  width: fit-content;
  position: relative;
}
.cid-u76JOH9lWc  .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-u76JOH9lWc  .navbar-logo {
    padding-left: 0;
  }
}
.cid-u76JOH9lWc  .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u76JOH9lWc  .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-u76JOH9lWc  .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-u76JOH9lWc  .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-u76JOH9lWc  .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u76JOH9lWc  .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-u76JOH9lWc  .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u76JOH9lWc  .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-u76JOH9lWc  .nav-item:focus,
.cid-u76JOH9lWc  .nav-link:focus {
  outline: none;
}
.cid-u76JOH9lWc  .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u76JOH9lWc  .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u76JOH9lWc  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u76JOH9lWc  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u76JOH9lWc  .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u76JOH9lWc  .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u76JOH9lWc  .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-u76JOH9lWc  .navbar.opened {
  transition: all 0.3s;
}
.cid-u76JOH9lWc  .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u76JOH9lWc  .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-u76JOH9lWc  .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-u76JOH9lWc  .navbar.collapsed {
  justify-content: center;
}
.cid-u76JOH9lWc  .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u76JOH9lWc  .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-u76JOH9lWc  .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-u76JOH9lWc  .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u76JOH9lWc  .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u76JOH9lWc  .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u76JOH9lWc  .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u76JOH9lWc  .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u76JOH9lWc  .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u76JOH9lWc  .navbar {
    min-height: 72px;
  }
  .cid-u76JOH9lWc  .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-u76JOH9lWc  .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u76JOH9lWc  .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u76JOH9lWc  .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u76JOH9lWc  .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u76JOH9lWc  .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u76JOH9lWc  .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u76JOH9lWc  .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-u76JOH9lWc  .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u76JOH9lWc  .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u76JOH9lWc  .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-u76JOH9lWc  .dropdown-item.active,
.cid-u76JOH9lWc  .dropdown-item:active {
  background-color: transparent;
}
.cid-u76JOH9lWc  .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u76JOH9lWc  .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u76JOH9lWc  .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u76JOH9lWc  .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-u76JOH9lWc  .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-u76JOH9lWc  .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-u76JOH9lWc  ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u76JOH9lWc  .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-u76JOH9lWc  .navbar-buttons {
    text-align: left;
  }
}
.cid-u76JOH9lWc  button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u76JOH9lWc  button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-u76JOH9lWc  button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u76JOH9lWc  button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u76JOH9lWc  button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u76JOH9lWc  button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u76JOH9lWc  nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u76JOH9lWc  nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u76JOH9lWc  nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u76JOH9lWc  nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u76JOH9lWc  .navbar-dropdown {
  padding: 0 1rem;
}
.cid-u76JOH9lWc  a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u76JOH9lWc  .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-u76JOH9lWc  .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u76JOH9lWc  .navbar {
    height: 70px;
  }
  .cid-u76JOH9lWc  .navbar.opened {
    height: auto;
  }
  .cid-u76JOH9lWc  .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-u76JOH9lWc  .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-u76JOH9lWc  .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-u76JOH9lWc  .navbar-brand {
    margin-right: auto;
  }
  .cid-u76JOH9lWc  .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-u76JOH9lWc  .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-u76JOH9lWc  .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-u76JOH9lWc  .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u76JOH9lWc  .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-u76JOH9lWc  .navbar-collapse {
    padding: 1rem;
  }
}
.cid-u76JOHak1L {
    display: flex;
  }
  @media (min-width: 768px) {
    .cid-u76JOHak1L {
      align-items: flex-end;
    }
    .cid-u76JOHak1L .row {
      justify-content: flex-start;
    }
    .cid-u76JOHak1L .content-wrap {
      padding: 1rem 3rem;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .cid-u76JOHak1L .content-wrap {
      min-width: 50%;
    }
  }
  @media (max-width: 767px) {
    .cid-u76JOHak1L {
      -webkit-align-items: center;
      align-items: flex-end;
    }
    .cid-u76JOHak1L .mbr-row {
      -webkit-justify-content: center;
      justify-content: center;
    }
    .cid-u76JOHak1L .content-wrap {
      width: 100%;
    }
  }
  .cid-u76JOHak1L .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76JOHak1L .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000;
  }
  .cid-u76JOHak1L .mbr-section-title,
  .cid-u76JOHak1L .mbr-section-subtitle {
    text-align: left;
    color: var(--dominant-color, #ffc091);
  }
  .cid-u76JOHak1L .mbr-text,
  .cid-u76JOHak1L .mbr-section-btn {
    text-align: left;
  }
  .cid-u76JOHagvB {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: transparent;
  }

  .cid-u76JOHagvB .item-mb {
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .cid-u76JOHagvB .item-mb {
      margin-bottom: 1rem;
    }
  }

  .cid-u76JOHagvB .item-head {
    background: var(--primary-color, #9fe870);
    padding: 2.25rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76JOHagvB .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u76JOHagvB .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u76JOHagvB .item-content {
    padding: 2.25rem 2.25rem 0;
    background: #ffffff;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76JOHagvB .item-content {
      padding: 0rem 1.5rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u76JOHagvB .item-content {
      padding: 0rem 1.5rem;
    }
  }

  .cid-u76JOHagvB .item-wrapper {
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background: #ffffff;
    padding: 0rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  @media (max-width: 767px) {
    .cid-u76JOHagvB .item-wrapper {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76JOHagvB .item-wrapper .item-footer {
      padding: 0 1.5rem 2rem;
    }
  }

  @media (min-width: 1201px) {
    .cid-u76JOHagvB .item-wrapper .item-footer {
      padding: 0 2rem 2rem;
    }
  }

  .cid-u76JOHagvB .btn {
    width: -webkit-fill-available;
  }

  .cid-u76JOHagvB .item:focus,
  .cid-u76JOHagvB span:focus {
    outline: none;
  }

  .cid-u76JOHagvB .mbr-section-btn {
    margin-top: auto !important;
    padding: 2rem 2rem 0;
  }

  @media (max-width: 991px) {
    .cid-u76JOHagvB .mbr-section-btn {
      padding: 0rem 2.25rem 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u76JOHagvB .mbr-section-btn {
      padding: 0rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u76JOHagvB .mbr-section-title {
    color: #000000;
  }

  .cid-u76JOHagvB .mbr-section-subtitle {
    color: #ffffff;
  }

  .cid-u76JOHagvB .mbr-text,
  .cid-u76JOHagvB .mbr-section-btn {
    text-align: left;
  }

  .cid-u76JOHagvB .item-title {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u76JOHagvB .item-subtitle {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u76JOHagvB .content-head {
    max-width: 800px;
  }
  .cid-u76JOHaOIk {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
  }
  .cid-u76JOHaOIk .mbr-text {
    color: #000000;
  }
  .cid-u76JOHaOIk .mbr-section-subtitle {
    color: #000000;
  }
  .cid-u76JOHaOIk .mbr-section-title {
    color: #000000;
  }
  .cid-u76JOHbhm8 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76JOHbhm8 .item:focus,
  .cid-u76JOHbhm8 span:focus {
    outline: none;
  }
  .cid-u76JOHbhm8 .item {
    cursor: pointer;
  }
  .cid-u76JOHbhm8 .grid-container {
    grid-row-gap: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbhm8 .grid-container {
      grid-row-gap: 1rem;
    }
  }
  .cid-u76JOHbhm8 .grid-container-1,
  .cid-u76JOHbhm8 .grid-container-2,
  .cid-u76JOHbhm8 .grid-container-3 {
    gap: 0 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbhm8 .grid-container-1,
    .cid-u76JOHbhm8 .grid-container-2,
    .cid-u76JOHbhm8 .grid-container-3 {
      gap: 0 1rem;
    }
  }
  .cid-u76JOHbhm8 .mbr-section-title {
    color: #000000;
  }
  .cid-u76JOHbhm8 .mbr-text,
  .cid-u76JOHbhm8 .mbr-section-btn {
    color: #000000;
  }
  .cid-u76JOHbhm8 .content-head {
    max-width: 800px;
  }
  .cid-u76JOHbhm8 .container,
  .cid-u76JOHbhm8 .container-fluid {
    overflow: hidden;
  }
  .cid-u76JOHbhm8 .grid-container {
    display: grid;
    transform: translate3d(-3rem, 0, 0);
    width: 115vw;
    grid-column-gap: 1rem;
  }
  .cid-u76JOHbhm8 .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cid-u76JOHbhm8 .grid-item img {
    min-width: 30vw;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbhm8 .grid-item img {
      min-width: 35vw;
    }
  }
  .cid-u76JOHbhm8 .grid-container-1,
  .cid-u76JOHbhm8 .grid-container-2,
  .cid-u76JOHbhm8 .grid-container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
  .cid-u76JOHbhm8 .grid-container-1 {
    align-items: flex-end;
  }
  .cid-u76JOHbhm8 .grid-container-2 {
    align-items: flex-start;
  }
  .cid-u76JOHbt6U {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: transparent;
  }
  .cid-u76JOHbt6U .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76JOHbt6U .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u76JOHbt6U .mbr-text {
    color: #000000;
  }
  .cid-u76JOHbt6U .mbr-section-subtitle {
    color: #ffffff;
    text-align: left;
  }
  .cid-u76JOHbt6U .item-wrapper {
    background: #ffffff;
    margin-bottom: 0rem;
    padding: 2.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbt6U .item-wrapper {
      padding: 2rem 1.5rem;
      margin-bottom: 0rem;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76JOHbt6U .item-wrapper {
      padding: 2rem 1.5rem;
      margin-bottom: 0rem;
    }
  }
  .cid-u76JOHbt6U .item-mb {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbt6U .item-mb {
      margin-bottom: 1rem;
    }
  }
  .cid-u76JOHbt6U .mbr-number {
    color: #9fe870;
    text-align: left;
  }
  .cid-u76JOHbt6U .mbr-section-title {
    color: #000000;
  }
  .cid-u76JOHbt6U .card-text,
  .cid-u76JOHbt6U .item .mbr-section-btn {
    text-align: left;
  }
  .cid-u76JOHbt6U .card-title,
  .cid-u76JOHbt6U .iconfont-wrapper {
    text-align: left;
  }
  .cid-u76JOHbt6U .mbr-section-subtitle,
  .cid-u76JOHbt6U .main-button {
    text-align: left;
    color: #000000;
  }
  .cid-u76JOHbt6U .item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .cid-u76JOHbt6U .item-content .item-footer {
    margin-top: auto;
  }
  .cid-u76JOHbt6U .main-button {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbt6U .main-button {
      margin-bottom: 2rem;
    }
  }
  .cid-u76JOHbt6U .side-features {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap; /* 3 */
    padding-left: 0px;
    padding-right: 0px;
  }
  .cid-u76JOHbt6U .side-features .item {
    padding-left: 16px;
    padding-right: 16px;
  }
  .cid-u76JOHbt6U {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: transparent;
  }
  .cid-u76JOHbt6U .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76JOHbt6U .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u76JOHbt6U .mbr-text {
    color: #000000;
  }
  .cid-u76JOHbt6U .mbr-section-subtitle {
    color: #ffffff;
    text-align: left;
  }
  .cid-u76JOHbt6U .item-wrapper {
    background: #ffffff;
    margin-bottom: 0rem;
    padding: 2.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbt6U .item-wrapper {
      padding: 2rem 1.5rem;
      margin-bottom: 0rem;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76JOHbt6U .item-wrapper {
      padding: 2rem 1.5rem;
      margin-bottom: 0rem;
    }
  }
  .cid-u76JOHbt6U .item-mb {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbt6U .item-mb {
      margin-bottom: 1rem;
    }
  }
  .cid-u76JOHbt6U .mbr-number {
    color: #9fe870;
    text-align: left;
  }
  .cid-u76JOHbt6U .mbr-section-title {
    color: #000000;
  }
  .cid-u76JOHbt6U .card-text,
  .cid-u76JOHbt6U .item .mbr-section-btn {
    text-align: left;
  }
  .cid-u76JOHbt6U .card-title,
  .cid-u76JOHbt6U .iconfont-wrapper {
    text-align: left;
  }
  .cid-u76JOHbt6U .mbr-section-subtitle,
  .cid-u76JOHbt6U .main-button {
    text-align: left;
    color: #000000;
  }
  .cid-u76JOHbt6U .item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .cid-u76JOHbt6U .item-content .item-footer {
    margin-top: auto;
  }
  .cid-u76JOHbt6U .main-button {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHbt6U .main-button {
      margin-bottom: 2rem;
    }
  }
  .cid-u76JOHbt6U .side-features {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap; /* 3 */
    padding-left: 0px;
    padding-right: 0px;
  }
  .cid-u76JOHbt6U .side-features .item {
    padding-left: 16px;
    padding-right: 16px;
  }
  .cid-u76JOHdYdF .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76JOHdYdF .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000;
  }
  .cid-u76JOHdfXT {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
  }
  .cid-u76JOHdfXT .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76JOHdfXT .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u76JOHdfXT .title .num {
    width: 100%;
    display: block;
  }
  .cid-u76JOHdfXT .title .card-title {
    z-index: 1;
  }
  .cid-u76JOHdfXT .num {
    color: var(--primary-color, #9fe870);
    text-align: center;
  }
  .cid-u76JOHdfXT .item-mb {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHdfXT * {
      text-align: center !important;
    }
    .cid-u76JOHdfXT .content-column {
      margin-bottom: 2rem;
    }
  }
  .cid-u76JOHdfXT .content-head {
    max-width: 800px;
  }
  .cid-u76JOHdfXT .card-text {
    text-align: center;
  }
  .cid-u76JOHdfXT .card-title,
  .cid-u76JOHdfXT .card-img {
     text-align: center;
  }
  .cid-u76JOHdN5q {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76JOHdN5q .item-wrapper img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50% !important;
  }
  .cid-u76JOHdN5q .item-wrapper {
    margin-bottom: 2rem;
  }
  .cid-u76JOHdN5q .card-title,
  .cid-u76JOHdN5q .iconfont-wrapper {
    color: #000000;
  }
  .cid-u76JOHdN5q .card-text {
    color: #000000;
    text-align: center;
  }
  .cid-u76JOHdN5q .content-head {
    max-width: 800px;
  }
  .cid-u76JOHdN5q .mbr-section-title {
    color: #000000;
  }
  .cid-u76JOHdN5q .card-title,
  .cid-u76JOHdN5q .img-wrapper {
    text-align: center;
  }
  .cid-u76JOHdN5q .img-wrapper {
    display: flex;
    justify-content: center;
  }
  .cid-u76JOHda7i {
  overflow: hidden;
  background-image: url("assets/images/photo-1597985933897-cfbf9e2464d0.jpeg");
}
.cid-u76JOHd44l {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u76JOHd44l .item:focus,
.cid-u76JOHd44l span:focus {
  outline: none;
}
.cid-u76JOHd44l .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-u76JOHd44l .content-head {
  max-width: 800px;
}
.cid-u76JOHd44l .item {
  color: #232323;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-u76JOHd44l .item {
    min-height: 45px;
  }
}.cid-u76JOHd44l {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u76JOHd44l .item:focus,
.cid-u76JOHd44l span:focus {
  outline: none;
}
.cid-u76JOHd44l .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-u76JOHd44l .content-head {
  max-width: 800px;
}
.cid-u76JOHd44l .item {
  color: #232323;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-u76JOHd44l .item {
    min-height: 45px;
  }
}
.cid-u76JOHd44l {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76JOHd44l .item:focus,
  .cid-u76JOHd44l span:focus {
    outline: none;
  }
  .cid-u76JOHd44l .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  .cid-u76JOHd44l .content-head {
    max-width: 800px;
  }
  .cid-u76JOHd44l .item {
    color: #232323;
    min-height: 90px;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .cid-u76JOHd44l .item {
      min-height: 45px;
    }
  }
  .cid-u76JOHdCT2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
  }
  .cid-u76JOHdCT2 .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76JOHdCT2 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u76JOHdCT2 .card-wrapper {
    background: var(--dominant-color, #393193);
    border-radius: 4px;
  }
  @media (max-width: 767px) {
    .cid-u76JOHdCT2 .card-wrapper {
      padding: 1.5rem;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .cid-u76JOHdCT2 .card-wrapper {
      padding: 2.25rem;
    }
  }
  @media (min-width: 992px) {
    .cid-u76JOHdCT2 .card-wrapper {
      padding: 4rem;
    }
  }
  .cid-u76JOHdCT2 .mbr-text,
  .cid-u76JOHdCT2 .mbr-section-btn {
    color: #ffd7ef;
  }
  .cid-u76JOHdCT2 .card-title,
  .cid-u76JOHdCT2 .card-box {
    text-align: center;
    color: var(--dominant-text, #ffd7ef);
  }
  .cid-u76JOHekxV {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
  }
  .cid-u76JOHekxV .item-subtitle {
    line-height: 1.2;
    color: #000000;
    text-align: center;
  }
  .cid-u76JOHekxV img,
  .cid-u76JOHekxV .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-u76JOHekxV .item:focus,
  .cid-u76JOHekxV span:focus {
    outline: none;
  }
  .cid-u76JOHekxV .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHekxV .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u76JOHekxV .item-wrapper {
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-u76JOHekxV .mbr-section-btn {
    margin-top: auto !important;
  }
  .cid-u76JOHekxV .mbr-section-title {
    color: #000000;
  }
  .cid-u76JOHekxV .mbr-text,
  .cid-u76JOHekxV .mbr-section-btn {
    color: #000000;
    text-align: center;
  }
  .cid-u76JOHekxV .item-title {
    color: #000000;
  }
  .cid-u76JOHekxV .content-head {
    max-width: 800px;
  }
  .cid-u76JOHeon6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
  }
  .cid-u76JOHeon6 .mbr-iconfont {
    font-size: 1.2rem !important;
    font-family: 'Moririse2' !important;
    color: white;
    transition: all 0.3s;
    transform: rotate(180deg);
  }
  .cid-u76JOHeon6 .panel-group {
    border: none;
  }
  .cid-u76JOHeon6 .card-header {
    padding: 1.2rem 0.5rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHeon6 .card-header {
      padding: 1rem 0rem;
    }
  }
  .cid-u76JOHeon6 .panel-body {
    padding: 0 0.5rem;
    padding-bottom: 1rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHeon6 .panel-body {
      padding: 0rem;
      padding-bottom: 1rem;
    }
  }
  .cid-u76JOHeon6 .img-col {
    padding: 0;
  }
  .cid-u76JOHeon6 .img-item {
    height: 100%;
  }
  .cid-u76JOHeon6 img {
    height: 100%;
    object-fit: cover;
  }
  .cid-u76JOHeon6 .collapsed span {
    transform: rotate(0deg);
  }
  .cid-u76JOHeon6 .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cid-u76JOHeon6 p {
    margin-bottom: 0.3rem;
  }
  .cid-u76JOHeon6 .card .card-header {
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
    border-radius: 2rem;
  }
  .cid-u76JOHeon6 .card {
    background: #ffffff;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHeon6 .card {
      padding: 1.5rem;
    }
  }
  .cid-u76JOHeon6 .panel-text {
    color: #000000;
  }
  .cid-u76JOHeon6 .mbr-section-title {
    text-align: center;
    color: #000000;
  }
  .cid-u76JOHeon6 .mbr-section-subtitle {
    color: #000000;
    text-align: center;
  }
  .cid-u76JOHeon6 .panel-title-edit,
  .cid-u76JOHeon6 .mbr-iconfont {
    color: #000000;
  }
  .cid-u76JOHfAkN {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: transparent;
  }
  .cid-u76JOHfAkN .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76JOHfAkN .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  @media (min-width: 768px) {
    .cid-u76JOHfAkN .container-fluid {
      padding: 0;
    }
  }
  .cid-u76JOHfAkN .embla__slide {
    position: relative;
    min-width: 490px;
    max-width: 490px;
  }
  @media (max-width: 768px) {
    .cid-u76JOHfAkN .embla__slide {
      min-width: 100%;
      max-width: 100%;
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
  }
  .cid-u76JOHfAkN .embla__slide a {
    display: block;
    width: 100%;
  }
  .cid-u76JOHfAkN .embla__button--next,
  .cid-u76JOHfAkN .embla__button--prev {
    display: flex;
  }
  .cid-u76JOHfAkN .mobi-mbri-arrow-next {
    margin-left: 5px;
  }
  .cid-u76JOHfAkN .mobi-mbri-arrow-prev {
    margin-right: 5px;
  }
  .cid-u76JOHfAkN .embla__button {
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -1.5rem;
    font-size: 22px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cid-u76JOHfAkN .embla__button:disabled {
    cursor: default;
    display: none;
  }
  .cid-u76JOHfAkN .embla__button.embla__button--prev {
    left: 0;
    margin-left: 2.5rem;
  }
  .cid-u76JOHfAkN .embla__button.embla__button--next {
    right: 0;
    margin-right: 2.5rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHfAkN .embla__button {
      top: auto;
      bottom: 1rem;
    }
  }
  .cid-u76JOHfAkN .embla {
    position: relative;
    width: 100%;
  }
  .cid-u76JOHfAkN .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  .cid-u76JOHfAkN .embla__viewport.is-draggable {
    cursor: grab;
  }
  .cid-u76JOHfAkN .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  .cid-u76JOHfAkN .embla__slide a {
    cursor: grab;
  }
  .cid-u76JOHfAkN .embla__slide a:active {
    cursor: grabbing;
  }
  .cid-u76JOHfAkN .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .cid-u76JOHfAkN .item-menu-overlay {
    border-radius: 2rem;
  }
  .cid-u76JOHfAkN .mbr-section-title {
    color: #232323;
  }
  .cid-u76JOHfAkN .mbr-section-subtitle {
    color: #232323;
  }
  .cid-u76JOHfAkN .mbr-box {
    color: #ffffff;
  }
  .cid-u76JOHfAkN .slide-content {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
  }
  .cid-u76JOHfAkN img,
  .cid-u76JOHfAkN .item-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-u76JOHfAkN .item-wrapper {
    position: relative;
  }
  .cid-u76JOHfAkN .content-head {
    max-width: 800px;
  }
  .cid-u76JOHf1EC {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76JOHf1EC .item-subtitle {
    line-height: 1.2;
    color: #000000;
  }
  .cid-u76JOHf1EC img,
  .cid-u76JOHf1EC .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-u76JOHf1EC .item:focus,
  .cid-u76JOHf1EC span:focus {
    outline: none;
  }
  .cid-u76JOHf1EC .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHf1EC .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u76JOHf1EC .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-u76JOHf1EC .mbr-section-title {
    color: #232323;
  }
  .cid-u76JOHf1EC .mbr-text,
  .cid-u76JOHf1EC .mbr-section-btn {
    color: #232323;
  }
  .cid-u76JOHf1EC .item-title {
    color: #232323;
  }
  .cid-u76JOHf1EC .content-head {
    max-width: 800px;
  }
  .cid-u76JOHfqMa {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
  }
  .cid-u76JOHfqMa .item-subtitle {
    line-height: 1.2;
    color: #000000;
  }
  .cid-u76JOHfqMa img,
  .cid-u76JOHfqMa .item-img {
    width: 100%;
  }
  .cid-u76JOHfqMa .item:focus,
  .cid-u76JOHfqMa span:focus {
    outline: none;
  }
  .cid-u76JOHfqMa .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 575px) {
    .cid-u76JOHfqMa .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u76JOHfqMa .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-u76JOHfqMa .mbr-section-title {
    color: #000000;
  }
  .cid-u76JOHfqMa .mbr-text,
  .cid-u76JOHfqMa .mbr-section-btn {
    color: #000000;
  }
  .cid-u76JOHfqMa .item-title {
    color: #000000;
    text-align: center;
  }
  .cid-u76JOHfqMa .content-head {
    max-width: 800px;
  }
  .cid-u76JOHfqMa img {
    filter: grayscale(1);
  }
  .cid-u76JOHfkeW {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76JOHfkeW .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .cid-u76JOHfkeW .social-row .soc-item {
    margin: 8px;
  }
  .cid-u76JOHfkeW .social-row .soc-item a:hover .mbr-iconfont,
  .cid-u76JOHfkeW .social-row .soc-item a:focus .mbr-iconfont {
    background-color: #f7f7f7;
  }
  .cid-u76JOHfkeW .social-row .soc-item a .mbr-iconfont {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 32px;
    background-color: #f7f7f7;
    color: var(--primary-color, #393193);
    transition: all 0.3s ease-in-out;
  }
  .cid-u76JOHfkeW .row-links {
    width: 100%;
    justify-content: center;
  }
  .cid-u76JOHfkeW .mbr-section-title {
    color: #ffffff;
  }
  .cid-u76JOHfkeW .mbr-section-title,
  .cid-u76JOHfkeW .social-list {
    color: #000000;
  }
  .cid-u76JOHgaIY {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-u76JOHgaIY .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .cid-u76JOHgaIY form .mbr-section-btn {
    text-align: center;
    width: 100%;
  }
  .cid-u76JOHgaIY form .mbr-section-btn .btn {
    display: inline-flex;
  }
  @media (max-width: 991px) {
    .cid-u76JOHgaIY form .mbr-section-btn .btn {
      width: 100%;
    }
  }
  .cid-u76JOHgaIY .content-head {
    max-width: 800px;
  }
  .cid-u76JOHgfjT {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-u76JOHgfjT .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76JOHgfjT .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u76JOHgfjT .row {
    justify-content: center;
  }
  .cid-u76JOHgfjT .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76JOHgfjT .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u76JOHgfjT .item .item-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ffffff;
    padding: 2.25rem;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76JOHgfjT .item .item-wrapper {
      padding: 2rem 1.5rem;
    }
  }
  @media (max-width: 767px) {
    .cid-u76JOHgfjT .item .item-wrapper {
      padding: 2rem 1.5rem;
    }
  }
  .cid-u76JOHgfjT .content-head {
    max-width: 800px;
  }
  .cid-u76JOHgUMi {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000000;
    overflow: hidden;
  }